<!-- http://www.stryder-it.de/simdashboard/designs/view?id=27ug&page=2&tag= -->

<!--
<ng-template #curDifference let-difference="difference">
    <div id="curDifference" class="center-items"
        [ngClass]="{'text-success': difference > 0, 'text-danger': difference < 0 }">
        <span *ngIf="!difference || difference === 0">--</span>
        <span *ngIf="difference !== 0">{{ floatToTime(difference) }}</span>
    </div>
</ng-template>
<ng-container *ngTemplateOutlet="curDifference;context:{difference: calcLapDifference(lapData?.bestLapTime)}">
</ng-container>
-->

<!-- -- TEMPLATES -- -->
<ng-template #multiPurposeLed>
    <div class="led big"
        [ngClass]="{'yellow blink': carStatusData?.drsAllowed === 1 && !carTelemetryData?.drs, 'green': carTelemetryData?.drs || false, 'blue': carStatusData?.pitLimiterOn || false, 'on': carTelemetryData?.drs || false || carStatusData?.pitLimiterOn}">
    </div>
</ng-template>

<ng-template #flagLed>
    <div *ngFor="let num of [0,1,2,3,4]" class="led small d-block my-1"
        [ngClass]="{'green': carStatusData?.vehicleFiaFlags === 1, 'blue': carStatusData?.vehicleFiaFlags === 2, 'yellow': carStatusData?.vehicleFiaFlags === 3, 'red': carStatusData?.vehicleFiaFlags === 4, 'on blink': carStatusData?.vehicleFiaFlags >= 1}">
    </div>
</ng-template>

<ng-template #esrInfo let-esrUsage="esrUsage">
    <fieldset class="p-0 border-warning"
        *ngIf="!carStatusData?.drsActivationDistance || carStatusData?.drsActivationDistance === 0">
        <legend>{{ 'dashboard.legend.ers' | translate }}</legend>
        <div class="d-flex h-100 align-items-center ers-info">
            <div id="ersDeployMode"><i class="fas fa-bolt"></i> {{ carStatusData?.ersDeployMode || 0 }}</div>
            <div class="progressbar ers flex-fill">
                <div id="ersPercent" [style.width]="esrUsage + '%'"></div>
            </div>
            <div id="ersPercentLabel">{{ esrUsage }}%</div>
        </div>
    </fieldset>
</ng-template>

<!-- -- TEMPLATES -- -->

<div class="screen-center">
    <div id="dashboard" class="p-2 w-100">
        <div class="d-grid grid-3 led-stripe">
            <div class="center-items mb-3">
                <ng-container *ngTemplateOutlet="multiPurposeLed;context"></ng-container>
            </div>
            <div class="center-items mb-3">
                <div id="revLights">
                    <ng-container *ngFor="let color of ['green', 'red', 'blue']; let i = index">
                        <div *ngFor="let num of [0, 1, 2, 3, 4]" class="led {{ color }} mx-1"
                            [ngClass]="{'on' : (carTelemetryData?.revLightsPercent || 0) >= 100 / 15 * ((num + i * 5) + 1)}">
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="center-items mb-3">
                <ng-container *ngTemplateOutlet="multiPurposeLed;context"></ng-container>
            </div>
        </div>

        <div>
            <div class="d-flex">
                <fieldset class="flex-shrink-2 flex-grow-1 border-info">
                    <legend>{{ 'dashboard.legend.breakBias' | translate }}</legend>
                    <span class="fs-2">{{ carStatusData?.frontBrakeBias || '--' }}</span>
                </fieldset>

                <fieldset class="flex-shrink-2 flex-grow-1 border-success">
                    <legend>{{ 'dashboard.legend.differential' | translate }}</legend>
                    <span class="fs-2">{{ carSetupData?.onThrottle || '--' }}</span>
                </fieldset>

                <fieldset class="flex-shrink-0 flex-grow-2 border-lightblue">
                    <legend>{{ 'dashboard.legend.rpm' | translate }}</legend>
                    <span class="fs-2">{{ carTelemetryData?.engineRpm || 0 }}</span>
                </fieldset>

                <fieldset class="flex-shrink-0 flex-grow-1 border-purple">
                    <legend>{{ 'dashboard.legend.speed' | translate }}</legend>
                    <span class="fs-2">{{ carTelemetryData?.speed || 0 }}</span>
                </fieldset>

                <fieldset class="d-flex flex-shrink-0 flex-grow-1 p-0 pt-1">
                    <legend>{{ 'dashboard.legend.engine' | translate }}</legend>
                    <div class="d-inline-flex flex-column flex-fill justify-content-center"
                        [ngClass]="{'bg-success': carTelemetryData?.engineTemperature < 135, 'bg-danger': carTelemetryData?.engineTemperature >= 135}">
                        <div class="fs-2 degree">
                            {{ carTelemetryData?.engineTemperature || '--' }}</div>
                    </div>
                </fieldset>
            </div>

            <div class="d-flex">
                <div class="d-flex flex-column align-items-center pr-1">
                    <div>
                        <ng-container *ngTemplateOutlet="flagLed;context"></ng-container>
                    </div>
                    <div class="progressbar vertical pedal-break mt-2 bg-eigengrau">
                        <div [style.height]="(carTelemetryData?.brake || 0) + '%'"></div>
                    </div>
                </div>

                <div class="flex-fill">
                    <div class="d-grid grid-3">
                        <div class="d-grid grid-2">
                            <ng-template #tyreInfo2 let-type="type" let-compoundInfo="compoundInfo">
                                <fieldset class="p-0 pt-1 d-flex">
                                    <legend>{{ 'dashboard.legend.tyreTemp' | translate }}
                                        {{ 'dashboard.wheel.' + type | translate }}</legend>
                                    <div class="d-inline-flex flex-column flex-fill justify-content-center"
                                        [ngClass]="{'bg-success': carTelemetryData?.tyreInnerTemperature[type] >= compoundInfo?.temperature[0] && carTelemetryData?.tyreInnerTemperature[type] <= compoundInfo?.temperature[1], 'bg-danger': carTelemetryData?.tyreInnerTemperature[type] > compoundInfo?.temperature[1], 'bg-warning': carTelemetryData?.tyreInnerTemperature[type] < compoundInfo?.temperature[0]}">
                                        <div class="fs-3 degree">
                                            {{ carTelemetryData?.tyreInnerTemperature[type] || '--' }}</div>
                                        <div class="fs-5">{{ getTyreDamage(type) || 0 }}%</div>
                                    </div>
                                </fieldset>
                            </ng-template>

                            <ng-container
                                *ngTemplateOutlet="tyreInfo2;context:{type: 'frontLeft', compoundInfo: getTyreCompoundInfo(carStatusData?.tyreVisualCompound || carStatusData?.tyreCompound || 17)}">
                            </ng-container>
                            <ng-container
                                *ngTemplateOutlet="tyreInfo2;context:{type: 'frontRight', compoundInfo: getTyreCompoundInfo(carStatusData?.tyreVisualCompound || carStatusData?.tyreCompound || 17)}">
                            </ng-container>

                            <ng-container
                                *ngTemplateOutlet="tyreInfo2;context:{type: 'rearLeft', compoundInfo: getTyreCompoundInfo(carStatusData?.tyreVisualCompound || carStatusData?.tyreCompound || 17)}">
                            </ng-container>
                            <ng-container
                                *ngTemplateOutlet="tyreInfo2;context:{type: 'rearRight', compoundInfo: getTyreCompoundInfo(carStatusData?.tyreVisualCompound || carStatusData?.tyreCompound || 17)}">
                            </ng-container>
                        </div>

                        <div>
                            <fieldset>
                                <legend>{{ 'dashboard.legend.gear' | translate }}</legend>
                                <div id="gear">
                                    <span
                                        [ngClass]="{'text-warning': (carTelemetryData?.revLightsPercent || 0) >= 70 && (carTelemetryData?.revLightsPercent || 0) < 90, 'text-danger': (carTelemetryData?.revLightsPercent || 0) >= 90}">{{ !carTelemetryData || !carTelemetryData?.gear || carTelemetryData?.gear === 0 ? 'N' : carTelemetryData?.gear === -1 ? 'R' : carTelemetryData?.gear }}</span>
                                </div>
                            </fieldset>
                        </div>

                        <div class="d-grid grid-2">
                            <ng-template #breakInfo let-type="type">
                                <fieldset class="p-0 pt-1 d-flex">
                                    <legend>{{ 'dashboard.legend.breakTemp' | translate }}
                                        {{ 'dashboard.wheel.' + type | translate }}</legend>
                                    <div class="d-inline-flex flex-column flex-fill justify-content-center"
                                        [ngClass]="{'bg-success': carTelemetryData?.brakeTemperature[type] <= 700, 'bg-warning': carTelemetryData?.brakeTemperature[type] > 700 && carTelemetryData?.brakeTemperature[type] < 900, 'bg-danger': carTelemetryData?.brakeTemperature[type] >= 900}">
                                        <div class="fs-3 degree">
                                            {{ carTelemetryData?.brakeTemperature[type] || '--' }}</div>
                                        <div class="fs-5">{{ carDamageData?.brakesDamage[type] || 0 }}%</div>
                                    </div>
                                </fieldset>
                            </ng-template>

                            <ng-container *ngTemplateOutlet="breakInfo;context:{type: 'frontLeft'}">
                            </ng-container>
                            <ng-container *ngTemplateOutlet="breakInfo;context:{type: 'frontRight'}">
                            </ng-container>

                            <ng-container *ngTemplateOutlet="breakInfo;context:{type: 'rearLeft'}">
                            </ng-container>
                            <ng-container *ngTemplateOutlet="breakInfo;context:{type: 'rearRight'}">
                            </ng-container>
                        </div>
                    </div>

                    <div class="d-grid grid-3">
                        <fieldset>
                            <legend>{{ 'dashboard.legend.bestLapTime' | translate }}</legend>
                            <div class="fs-1"
                                [ngClass]="{'text-success': getBestLapTime() && lapData?.lastLapTime && getBestLapTime() - lapData?.lastLapTime === 0}">
                                <span>{{ floatToTime(getBestLapTime() || 0) }}</span>
                            </div>
                        </fieldset>

                        <!-- ERS/DRS -->
                        <ng-container *ngTemplateOutlet="esrInfo;context:{esrUsage: calcESRUsage()}">
                        </ng-container>

                        <fieldset class="p-0 pt-1 d-flex"
                            *ngIf="carStatusData?.drsActivationDistance && carStatusData?.drsActivationDistance !== 0">
                            <legend>{{ 'dashboard.legend.drs' | translate }}</legend>
                            <div class="d-inline-flex flex-column flex-fill justify-content-center bg-warning">
                                <span class="fs-1">{{ carStatusData?.drsActivationDistance }}m</span>
                            </div>

                        </fieldset>
                        <!-- ------ -->

                        <fieldset>
                            <legend>{{ 'dashboard.legend.currentLapTime' | translate }}</legend>
                            <div class="fs-1">{{ floatToTime(lapData?.currentLapTime || 0) }}</div>
                        </fieldset>
                    </div>
                </div>

                <div class="d-flex flex-column align-items-center pl-1">
                    <div>
                        <ng-container *ngTemplateOutlet="flagLed;context"></ng-container>
                    </div>
                    <div class="progressbar vertical pedal-throttle mt-2 bg-eigengrau">
                        <div [style.height]="(carTelemetryData?.throttle || 0) + '%'"></div>
                    </div>
                </div>
            </div>

            <div class="d-flex">
                <fieldset class="d-flex flex-shrink-2 flex-grow-1 p-0 pt-1">
                    <legend>{{ 'dashboard.legend.lap' | translate }}</legend>
                    <div class="d-inline-flex flex-fill justify-content-center bg-silver">
                        <span
                            class="fs-2">{{ min(lapData?.currentLapNum, sessionData?.totalLaps) || '--' }}{{ sessionData?.totalLaps && sessionData?.totalLaps > 1 && sessionData?.totalLaps < 200 ? ' / ' + sessionData?.totalLaps : '' }}</span>
                    </div>
                </fieldset>

                <fieldset class="d-flex flex-shrink-2 flex-grow-1 p-0 pt-1">
                    <legend>{{ 'dashboard.legend.position' | translate }}</legend>
                    <div class="d-inline-flex flex-fill justify-content-center bg-silver">
                        <span class="fs-2">{{ lapData?.carPosition || '--' }}</span>
                    </div>
                </fieldset>

                <fieldset class="d-flex flex-shrink-2 flex-grow-1 p-0 pt-1">
                    <legend>{{ 'dashboard.legend.fuelMix' | translate }}</legend>
                    <div class="d-inline-flex flex-fill justify-content-center bg-silver">
                        <span class="fs-2">{{ carStatusData?.fuelMix + 1 || 0 }}</span>
                    </div>
                </fieldset>

                <fieldset class="d-flex flex-grow-1 p-0 pt-1 border-orange">
                    <legend>{{ 'dashboard.legend.fuelMass' | translate }}</legend>
                    <div class="d-inline-flex flex-fill justify-content-center bg-orange">
                        <span class="fs-2">{{ (carStatusData?.fuelInTank || 0) | number: '1.1-1' }}</span>
                    </div>
                </fieldset>

                <ng-template #fuelReserve let-reserve="reserve">
                    <fieldset class="d-flex flex-grow-1 p-0 pt-1"
                        [ngClass]="{'border-success': reserve > 0, 'border-danger': reserve < 0}">
                        <legend>{{ 'dashboard.legend.fuelRemaining' | translate }}</legend>

                        <div class="d-inline-flex flex-fill justify-content-center"
                            [ngClass]="{'bg-success': reserve > 0, 'bg-danger': reserve < 0, 'bg-silver': reserve === 0}">
                            <span
                                class="fs-2">{{ (reserve > 0 ? '+' : reserve < 0 ? '-' : '') + (reserve | number: '1.1-1') }}</span>
                        </div>
                    </fieldset>
                </ng-template>
                <ng-container
                    *ngTemplateOutlet="fuelReserve;context:{reserve: carStatusData?.fuelRemainingLaps || calcFuelReserve()}">
                </ng-container>
            </div>
        </div>
    </div>
</div>