$border-radius-sizes: (0,1,2,3,4,5);

.border {
    border-width: 1px;
    border-color: dimgray;
    border-style: solid;
}

.border-light {
    border-color: #909090;
}

.border-thick {
    border-width: 3px !important;
}

.border-thicker {
    border-width: 5px !important;
}

.border-inset {
    border-style: inset !important;
}

.border-top {
    border-width: 1px 0 0 0;
    border-color: dimgray;
    border-style: solid;
}

.border-bottom {
    border-width: 0 0 1px 0;
    border-color: dimgray;
    border-style: solid;
}

.border-left {
    border-width: 0 0 0 1px;
    border-color: dimgray;
    border-style: solid;
}

.border-right {
    border-width: 0 1px 0 0;
    border-color: dimgray;
    border-style: solid;
}

@each $size in $border-radius-sizes {
    .border-radius-#{$size} {
        border-radius: 0px + $size;   
    }
}