$flexAlignTypes: (
    "align-content": (
        start: flex-start,
        end: flex-end,
        center: center,
        baseline: baseline,
        stretch: stretch,
        around: space-around,
        between: space-between,
        evenly: space-evenly
    ),
    
    "align-items": (
        start: flex-start,
        end: flex-end,
        center: center,
        baseline: baseline,
        stretch: stretch
    ),
    
    "align-self": (
        start: flex-start,
        end: flex-end,
        center: center,
        baseline: baseline,
        stretch: stretch
    ),
    
    "justify-content": (
        start: flex-start, 
        end: flex-end, 
        center: center, 
        between: space-between, 
        around: space-around, 
        evenly: space-evently   
    ),
    
    "justify-self": (
        start: start, 
        end: end, 
        center: center,
        stretch: stretch 
    ),
);

@each $name, $types in $flexAlignTypes {
    @each $type, $value in $types {
        .#{$name}-#{$type} {
            #{$name}: $value !important;
        }
    };
};

.flex-fill {
    flex: 1 1 auto!important;
}

.flex-column {
    flex-direction: column!important;
}