$text-colors: $colors !default;

$font-size-base: 1rem !default;
$font-size-step: 0.25 !default;
$font-sizes: (1,2,3,4,5,6);

$font-weight: ( 
    bold: 700, 
    bolder: bolder, 
    normal: 400, 
    light: 300, 
    lighter: lighter
);

$text-transform: (capitalize, lowercase, uppercase);

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

@each $name, $color in $text-colors {
    .text-#{$name} {
        color: $color !important;
    }
}

@each $type in $text-transform {
    .text-transform-#{$type} {
        text-transform: $type !important;
    }
}

@each $size in $font-sizes {
    .fs-#{$size} {
        font-size: $font-size-base + (length($font-sizes) - $size) * $font-size-step;
    }
}

@each $name, $value in $font-weight {
    .fw-#{$name} {
        font-weight: $value !important;
    }
}

